.attribute {
    position: absolute;
    font-size: .9rem;
    text-decoration: none;
    color: #000;
    width: 100%;
    bottom: 0;
    right: 0;
    margin: 1rem 0;
    text-align: center;

    @mixin atSmall {
        text-align: right;
        margin: 1rem;
    }

    &__overview {
        
    }
}

.attribute--main-page {
    text-decoration: none;
    color: $mainGreen;
}