.attribute {
    font-size: .9rem;
    text-decoration: none;
    color: #000;

    &__main-page {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        margin: 1rem 0;
        text-align: center;

        @mixin atSmall {
            text-align: right;
            margin: 1rem;
        }
    }
    

    a {
        text-decoration: none;
        color: $mainGreen;
        transition: color 0.5s;
    }

    a:hover,
    a:active {
        color: $mainYellow;
    }

    &--text-position-right {
        text-align: center;

        @mixin atMedium {
            text-align: right;
        }
    }

    &--text-position-center {
        text-align: center;
    }
}

