.feature-item {
    position: relative;
    padding-top: 30px;
    
    @mixin atMedium {
        padding-bottom: 2rem;
    }
    
    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: 1.2rem;
        text-align: center;

        @mixin atSmall {
            font-size: 1.875rem;
        }

        @mixin atMedium {
            text-align: left;
            padding-left: 85px;
        }
    }

    &__icon {
        width: 60px;
        display: block;
        margin: 0 auto;

        @mixin atMedium {
        position: absolute;
        left: 0;
        }
    }
}

