.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0;

        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }

    &--no-b-padding-until-large {
        padding-bottom: 0;

        @mixin atLarge {
            
        }
    }

    &--green {
        background-color: $lighterGreen;
        color: #FFF;
    }

    &--testimonials {

            background-color: #a9ba8a;

        @mixin atMedium {
            background: url("assets/images/Photo_by_Rhond_K_Native_Florida_Folk_Artist_on_Unsplash.jpg"), top center no-repeat;
            background-size: cover;  
        }     
    }
}